@font-face{
    font-family: Montserrat;
    src: url();
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}


.container{
    width: 80%
}

.right{
    width: 20%;
}

/*шапка*/

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 124px;
    margin-bottom: 70px;
}
.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu nav{
    padding: 0;
    margin: 0;
}

.menu ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li:nth-child(1) {
    padding-left: 50px;
}

.menu li {
    display: flex;
    padding-right: 50px;

}

.menu a{
    display: inline-block;
    color:#333333;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.menu a:after{
    background-color: #D90000;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.menu a:hover:after,
a:focus:after {
    width: 100%;
}

/*Выше header*/
/*ниже основной контент*/

.slider-1{
    display: flex;
    flex-direction: column;
}

.slider-1 .pictures{
    display: flex;
    justify-content: center;
}

.pictures .pictures-left{
    display: flex;
    position: relative;
}

.pictures-left h2 {
    position: absolute;
    top: 248px;
    left: 60px;
    width: 100%;
    }
.pictures-left h2 span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    background: inherit;
    padding: 10px;
    }

.pictures-left .btn-sld{
    border: 1px solid #fff; 
    text-decoration: none;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    top: 393px;
    left: 70px;
    background-color: inherit ;
}

.pictures-left .btn-sld span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.pictures .pictures-right{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16.58px;
}

.pictures-right .btn-sld2{
    border: 1px solid #fff; 
    text-decoration: none;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    top: 160px;
    left: 30px;
    background-color: inherit ;
}

.pictures-right .btn-sld2 span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pictures-right .btn-sld3{
    border: 1px solid #fff; 
    text-decoration: none;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    top: 411px;
    left: 30px;
    background-color: inherit ;
}

.pictures-right .btn-sld3 span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:40px;
}

.radio-btn input {
  display: none;
}
.radio-btn label {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid #4F4F4F;
  background: #fff;
  cursor: pointer;
  margin-right: 13px;
}
#button1:checked ~ #hw1,
#button2:checked ~ #hw2,
#button3:checked ~ #hw3,
#button4:checked ~ #hw4 {
  background: #4F4F4F;
}